


@mixin m400{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
@mixin m700{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
@mixin m900{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
@mixin os400{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}